<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042550771993-4m62k24fim50lmr6envmffkj40pgb3no.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042550771993-4m62k24fim50lmr6envmffkj40pgb3no</string>
	<key>API_KEY</key>
	<string>AIzaSyCEZTOT16IXAYjs9fofKyFN9_n_7rAKwjA</string>
	<key>GCM_SENDER_ID</key>
	<string>1042550771993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.academy.megahack</string>
	<key>PROJECT_ID</key>
	<string>megahack-women</string>
	<key>STORAGE_BUCKET</key>
	<string>megahack-women.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042550771993:ios:c3d4385a194c6049793588</string>
	<key>DATABASE_URL</key>
	<string>https://megahack-women.firebaseio.com</string>
</dict>
</plist>